# I want to use pypi
--index-url https://pypi.python.org/simple/

# dev dependancies
wheel==0.21.0
mock

# non-pypi dependancies
https://pyglet.googlecode.com/files/pyglet-1.2alpha1.tar.gz

# install this project in develop mode from setup.py
-e .
